{% extends 'main.html' %}
{% load static %}

{% block title %}
Edit Products | Inventory Management
{% endblock title %}

{% block content %}
<!-- Dashborad code -->
<section>
    <div class="container">
        <div class="row dash-card-1" style=" justify-content: center;">
            <form method="post" style="width: 50%;" class="mt-5 p-3 card">
              {% csrf_token %}
                <h3 class="text-center">Edit Product</h3>
                <div class="form-group mb-4">
                  <label for="inputState">Choose Category</label>
                  <select id="inputState" class="form-control" name="cat_name">
                    {% for category in categories %}
                    <option value="{{category.id}}" {% if category.id == current_category_id %}selected{% endif %}>{{category.cat_name}}</option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group mb-4">
                  <label for="product-name">Proudct Name</label>
                  <input type="text" class="form-control" id="product-name" placeholder="Enter the product name" value="{{a.product_name}}" name="product_name">
                </div>
                <div class="form-group mb-4">
                    <label for="in-stock">In Stock</label>
                    <input type="number" class="form-control" id="in-stock" placeholder="Enter In stocks " value="{{a.in_stock}}" name="in_stock">
                  </div>
                  <div class="form-group mb-4">
                    <label for="min-stock">Min Stock</label>
                    <input type="number" class="form-control" id="min-stock" placeholder="Enter Min stocks" value="{{a.min_stock}}" name="min_stock">
                  </div>
                  <div class="form-group mb-2 mt-2 text-center " >
                    <button class="btn btn-warning " type="submit">Save</button>
                  </div>
              </form>
        </div>
    </div>
   </section>
{% endblock content %}
            
