{% extends 'main.html' %}
{% load static %}

{% block title %}
New Labour Add | Inventory Management
{% endblock title %}

{% block content %}
            <!-- New Labour code -->
            <section>
                <div class="container">
                    <div class="row dash-card-1" style=" justify-content: center;">
                        <form method="post" style="width: 50%;" class="mt-5 p-3 card">
                            {% csrf_token %}
                            <h3 class="text-center">Edit Category</h3>
                            <div class="form-group mt-3 mb-4">
                              <label for="product-name" class="cat-name">Category Name</label>
                              <input type="text" class="form-control" id="product-name" placeholder="Enter the category name" name="cat_name" value="{{a.cat_name}}">
                            </div>
                              <div class="form-group mb-2 mt-2 text-center " >
                                <button class="btn btn-warning" type="submit">Save</button>
                              </div>
                          </form>
                    </div>
                </div>
               </section>
{% endblock content %}
