{% extends 'main.html' %}
{% load static %}

{% block title %}
Category | Inventory Management
{% endblock title %}

{% block content %}
        <!-- Category code -->
         <section>
            <div class="container">
              <div class="row">
                <div class="col-lg-6 ">
                    <div class="input-group mb-2 mt-4">
                        <a href="{% url 'newcategory'  %}" class="btn btn-primary">New Category</a>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="input-group mb-2 mt-4 float-end" style="width: 300px;">
                        <input type="text" class="form-control w-4" placeholder="Search" id="searchInput">
                        <div class="input-group-append" >
                          <button class="btn btn-primary text-white " type="button" onclick="searchTable()">Search</button>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row">
                    <div ">
                        <table class="table table-bordered border-dark table table-hover  mt-5"  id="dataTable">
                            <thead >
                              <tr>
                                <th colspan="4" class="text-center"><h1>Category List</h1></th>
                              </tr>
                              <tr class="text-center">
                                <th scope="col" style="width: 10%;">S.No</th>
                                <th scope="col">Category Name</th>
                                <th scope="col" style="width: 25%;">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for datas in data %}
                                <tr class="text-center">
                                  <th scope="row">{{forloop.counter}}</th>
                                  <td> {{datas.cat_name}} </td>
                                  <td><a href="/editcategory/{{datas.id}}"><button type="button" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></button></a>
                                    <a href="/delete_category/{{datas.id}}">
                                      <button type="button" class="btn btn-danger"><i class="fa-solid fa-trash"></i> </button></a></td>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
         </section>
{% endblock content %}